# macOS
.DS_Store

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env/config
.env
.env.*

# Build/output
dist/
coverage/
*.tgz

# Tooling caches
.npm/
.yarn/cache/
.yarn/unplugged/
.yarn/install-state.gz
.yarn/build-state.yml
.pnpm-store/
